<nav class="page-navbar">
    <img class="nav-bg-img" src="../assets/svg/undraw_Lost_online_re_upmy.svg" alt="">
    <ul>
        <li>
            <a routerLink="posts">Posts</a>
        </li>
        <li *ngIf="userState">
            <a routerLink="/posts/create">Create</a>
        </li>
        <li *ngIf="userState">
            <a routerLink="profile">My Posts</a>
        </li>
        <li *ngIf="!userState">
            <a routerLink="login">Login</a>
        </li>
        <li *ngIf="userState">
            <a routerLink="login" (click)="onClick()">Logout</a>
        </li>
    </ul>
</nav>
<div class="second-bg-color-container">
    <router-outlet></router-outlet>
</div>